.files{
    color: black!important;
    border-radius: 15px;
    font-family: 'Roboto';
    font-size: 30px;
}
tr:hover {
    background-color: #cfe2ff;
}
.tableFile{
    display: flex;
}

.flexJustifyBottom {
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
}
.block1{
    border-bottom: black solid 1px!important;
    margin-bottom: 40px;
    padding-bottom: 10px;
}