.lessons{
    color: black!important;
    border-radius: 15px;
    font-family: 'Roboto';
    font-size: 30px;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.block1{
    border-bottom: black solid 1px!important;
    margin-bottom: 40px;
    padding-bottom: 10px;
}
