.image{
    margin-right: 10px;
    height: 35px;
    width: 50px;
}
a:hover {
    color: white;
}
.navbr{
    
    align-items: center;
    text-decoration: none;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: 'Avanti', arial;
    color: white;
}
.body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.container{
    align-content: center;
    justify-content: center;
    height: 50px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.elem{

    display: flex;
    color: white!important;
}

._container {
    display: flex;
    justify-content: center;
}
#app{
    width: 1100px;
}
._flexWrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

._flexGap10 {
    gap: 10px;
}

._flexChild4Row {
    flex: 1 0 21%;
}